.footer-main{
    width: 100vw;
    height: 3rem;
    background-color: #e26930;
    position: absolute;
    bottom: 0;
}
.footer-main > div{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    position: absolute;
    right: 0;
    left: 0;
}
.footer-main > div> h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;

}