.header {
    background-color: #c94306;
    width: 100vw;
    height: fit-content;
    padding: .4rem 1rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>h1 {
    font-family: Afacad;
    font-size: 2.2rem;

}

.header-right {
    display: flex;
    gap: 1rem;
}

.header-right>p {
    font-size: 1.1rem;
}

.header-right>button {
    border: none;
    padding: .3rem 1rem;
    border-radius: .5rem;
    color: #c94306;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
}